@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 900;
  font-stretch: 75% 125%;
  font-display: swap;
  src: url("../fonts/poppins.woff2");
}



.slick-slider .slick-dots ul li {
  display: block;
}
